<h1 class="text-center">Formulario de Carga de productos</h1>

{{>form}}

<div class="d-grid gap-2 col-4 mx-auto">
<a href="/productos" type="button" class="btn btn-warning">Lista de Productos</a>
</div>