<form id="formProduct" class="d-grid col-5 mx-auto mb-5">
  <div class="mb-3">
    <label for="product-title" class="form-label">Nombre del Producto</label>
    <input type="text" name="title" id="product-title" required aria-required="true" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="product-price" class="form-label">Precio del Producto</label>
    <input type="number" name="price" id="product-price" required aria-required="true" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="product-thumbnail" class="form-label">URL foto de producto</label>
    <input type="text" name="thumbnail" id="product-thumbnail" required aria-required="true" class="form-control" />
  </div>
  <button id="btn" type="submit" class="btn btn-success">Enviar</button>
</form>