<head>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<h1>Iniciar sesión</h1>
<form action="/api/login" class="form-group col" method="POST" >
        <label for="userName">Usuario</label>
        <input class="input" id="userName" type="text" name="userName">
        <label for="password" >Password</label>
        <input class="input" id="password" type="password" name="password">
        <input type="submit" id="Iniciar Sesión" class="btn btn-success" value="enviar">
</form>